@model KYC.Web.Models.KYC.RiskReport

@{
  ViewBag.Title = "Details";
}

<h3 class="text-right">Risk Assessment Report</h3>

<div>
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Title)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Title)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.SemVer)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.SemVer)
    </dd>
  </dl>

  <hr />
  @Html.Partial("_RiskItemsPartial", Model.RiskItems)

</div>
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.RiskReportId }) |
  @Html.ActionLink("Back to List", "Index")
</p>